[submodule "sourcemod"]
	path = alliedmodders/sourcemod
	url = git://git@github.com/alliedmodders/sourcemod.git
	ignore = all

[submodule "metamod-source"]
	path = alliedmodders/metamod-source
	url = git://git@github.com/alliedmodders/metamod-source.git
	ignore = all

[submodule "alliedmodders/hl2sdk"]
	path = alliedmodders/hl2sdk-tf2
	url = git://git@github.com:alliedmodders/hl2sdk.git
	branch = tf2
	ignore = all

[submodule "smlib"]
	path = scripting/include/smlib
	url = git@github.com:bcserv/smlib.git
	ignore = all

[submodule "alliedmodders/amtl"]
	path = alliedmodders/amtl
	url = git@github.com:alliedmodders/amtl.git
