[submodule "sourcemod"]
	path = alliedmodders/sourcemod
	url = http://github.com/alliedmodders/sourcemod.git
	ignore = all

[submodule "metamod-source"]
	path = alliedmodders/mmsource-1.10
	url = http://github.com/alliedmodders/metamod-source.git
    branch = 1.10-dev
	ignore = all

[submodule "hl2sdk"]
	path = alliedmodders/hl2sdk-tf2
	url = http://github.com/alliedmodders/hl2sdk.git
	branch = tf2
	ignore = all

[submodule "smlib"]
	path = scripting/include/smlib
	url = http://github.com/bcserv/smlib.git
	ignore = all

[submodule "alliedmodders/amtl"]
	path = alliedmodders/amtl
	url = http://github.com/alliedmodders/amtl.git

[submodule "alliedmodders/ambuild"]
	path = alliedmodders/ambuild
	url = http://github.com/alliedmodders/ambuild.git
